@page
@using NTDLS.Helpers
@model AccountsModel
@{
    ViewData["Title"] = "Accounts";
}

<div>
    <div class="container mt-4">
        <form method="post">
            <table class="table table-striped table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Username</th>
                        <th>Description</th>
                        <th>Time-zone</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.Accounts)
                    {
                        <tr>
                            <td><a href="/Account/@account.Id">@account.Username</a></td>
                            <td>@account.Description</td>
                            <td>@account.TimeZone</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/CreateAccount" class="btn btn-primary">Create Account</a>
        </form>
    </div>
</div>
