@page
@using NTDLS.Helpers
@model QueuesModel
@{
    ViewData["Title"] = "Key-Stores";
}

<div>
    <div class="container mt-4">
        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="4">Key-Stores</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Depth</th>
                    <th>Received</th>
                    <th>Delivered</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var queue in Model.Queues)
                {
                    <tr>
                        <td><a href="/queue/@queue.StoreName">@queue.StoreName</a></td>
                        <td><a href="/messages/@queue.StoreName">@queue.CurrentMessageCount.ToString("n0")</a></td>
                        <td>@queue.ReceivedMessageCount.ToString("n0")</td>
                        <td>@queue.DeliveredMessageCount.ToString("n0")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
