@page
@using NTDLS.Helpers
@model StoresModel
@{
    ViewData["Title"] = "Stores";
}

<div>
    <div class="container mt-4">
        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="4">Key-Stores</th>
                </tr>
            </thead>
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Depth</th>
                    <th>Received</th>
                    <th>Delivered</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var store in Model.Stores)
                {
                    <tr>
                        <td><a href="/store/@store.StoreName">@store.StoreName</a></td>
                        <td><a href="/messages/@store.StoreName">@store.CurrentValueCount.ToString("n0")</a></td>
                        <td>@store.UpsertCount.ToString("n0")</td>
                        <td>@store.GetCount.ToString("n0")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
